*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
    font-weight: 800;
}

.date-box{
    width: 550px;
    height: 430px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: #fff;
    border-radius: 10px;
    border-bottom-right-radius: 120px;
    padding: 40px;
}

.input{
    width: 100px;
    height: 45px;
    font-size: 23px;
    font-weight: 800;
    border: 2px solid #eee;
    border-radius: 5px;
    outline: none;
}

.input:not(:last-child){
    margin-right: 22px;
}


.separete{
    display: flex;
    align-items: center;
}

.hr{
    width: 437px;
    border: 1px solid #eee;

}

.arrow-buttom{
    background-color: #874bff;
    padding: 15px;
    border-radius: 50%;
}

.result-number{
    color: #874bff;
    font-size: 70px;
}

.result{
    font-size: 60px;
}